<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>微博图床</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link th:href="@{/static/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/static/css/layui.css}" rel="stylesheet"/>
</head>
<body>
<div class="layui-row">
    <div class="layui-col-sm1 jsxs-title"> </div>
    <div class="layui-col-sm4">
        <fieldset class="layui-elem-field jsxs-title">
            <legend>微博图床</legend>
            <div class="layui-field-box">
                欢迎使用微博图床！
            </div>
        </fieldset>
    </div>
    <div class="layui-col-sm2 jsxs-title"></div>
    <div class="layui-col-sm4">
        <fieldset class="layui-elem-field jsxs-title">
            <legend>图床说明</legend>
            <div class="layui-field-box">
                本图床采用新浪接口CDN图床，稳定 高速 不限流量。
                <div align="right"><a href="/view" target="_blank">历史上传</a></div>
            </div>
        </fieldset>
    </div>
    <div class="layui-col-sm1 jsxs-title"> </div>
</div>

<div class="layui-row" align="center">
    <input type="file" accept="image/*" multiple="">
    <button type="button" class="layui-btn">选择本地图片</button>
</div>

<div class="layui-row">
    <textarea id="url-res-txt" class="form-control" rows="4" placeholder="上传后的图片外链地址将显示在此处哦、下方会同时显示外链地址和预览图。"></textarea>
</div>
<div class="layui-row" align="center">
    <div class="preview" style="margin-top: 10px;">

    </div>
</div>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/layui.js}"></script>
<script th:src="@{/static/js/importimg.js}"></script>

<script type="text/javascript">
layui.use(['form','layedit'], function(){
	  var form = layui.form
	  ,layer = layui.layer
	  ,layedit = layui.layedit;
	  form.render();

})

/* 鼠标点击特效 */
var a_idx = 0;
jQuery(document).ready(function($) {
    $("body").click(function(e) {
var a = new Array("富强", "民主", "文明", "和谐", "自由", "平等", "公正" ,"法治", "爱国", "敬业", "诚信", "友善");
var $i = $("<span/>").text(a[a_idx]);
        a_idx = (a_idx + 1) % a.length;
var x = e.pageX,
        y = e.pageY;
        $i.css({
"z-index": 999999999999999999999999999999999999999999999999999999999999999999999,
"top": y - 20,
"left": x,
"position": "absolute",
"font-weight": "bold",
"color": "#ff6651"
        });
        $("body").append($i);
        $i.animate({
"top": y - 180,
"opacity": 0
        },
        1500,
function() {
            $i.remove();
        });
    });
});
</script>
</body>
</html>