<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>csc</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}"/>
    <link th:href="@{/static/css/layui.css}" rel="stylesheet"/>
</head>
<body>
<div class="layui-container">
  <div class="layui-row">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend>CSC项目组运维<span class="layui-breadcrumb" lay-separator="-" style="padding-left: 20px; visibility: visible;">
           <a href="/">主页</a><span lay-separator="">-</span>
           <a href="/dealer">经销商</a><span lay-separator="">-</span>
           <a href="/sync">同步</a><span lay-separator="">-</span>
        </span></legend>
  </fieldset>
  <div class="layui-card">
  <div class="layui-card-header">控制台</div>
  <div class="layui-card-body" id="console">
  </div>
</div>
<form class="layui-form layui-form-pane">
        <select name="dealer_code" id="dealer_code" lay-verify="required" lay-search="">
          <option value="">直接选择或搜索选择经销商</option>
<option value="5017">5017贵阳汇兴</option>
<option value="5025">5025佳木斯佳庆</option>
<option value="5044">5044南坪中心</option>
<option value="5062">5062成都西星</option>
<option value="5124">5124玉溪珊瑚</option>
<option value="5181">5181邯郸立达</option>
<option value="5195">5195东莞羚丰</option>
<option value="5201">5201阿克苏笑好</option>
<option value="5251">5251潮州亿发</option>
<option value="5268">5268营口华熙</option>
<option value="5271">5271台州路桥</option>
<option value="5277">5277北方新兴洋桥店</option>
<option value="5326">5326龙岩和众</option>
<option value="5328">5328昭通农机</option>
<option value="5348">5348宝鸡金盛工贸</option>
<option value="5350">5350攀枝花永新</option>
<option value="5425">5425北方新兴通州</option>
<option value="5429">5429德州华润</option>
<option value="5475">5475佛山路通南海分公司</option>
<option value="5500">5500聊城远达</option>
<option value="5556">5556通辽通华</option>
<option value="5561">5561合肥大步</option>
<option value="5640">5640泉州振邦</option>
<option value="5663">5663吉林华通</option>
<option value="5668">5668济南快爱特</option>
<option value="5672">5672山西机电晋城</option>
<option value="5694">5694永兴铃木4S店</option>
<option value="5700">5700兰州三久</option>
<option value="5709">5709北京永驰长铃商贸</option>
<option value="5731">5731苏州都市飞梭</option>
<option value="5755">5755佛山顺德亚飞</option>
<option value="5783">5783齐齐哈尔鑫万翔</option>
<option value="5788">5788山东鸿运</option>
<option value="5792">5792榆林长安</option>
<option value="5800">5800北京环宇腾飞</option>
<option value="5802">5802邯郸辰鑫</option>
<option value="5808">5808白城大众</option>
<option value="5823">5823茂名亿泰</option>
<option value="5840">5840乌市笑好</option>
<option value="5853">5853渭南燕兴</option>
<option value="5862">5862海口东之星</option>
<option value="5891">5891山西盛隆</option>
<option value="5892">5892福州雄峰</option>
<option value="6001">6001自贡四达</option>
<option value="6003">6003日照润杰</option>
<option value="6010">6010昆明万铃</option>
<option value="6025">6025济宁世纪昌铃</option>
<option value="6027">6027湛江金富</option>
<option value="6037">6037开封万宝</option>
<option value="6042">6042唐山联亚</option>
<option value="6043">6043秦皇岛机电</option>
<option value="6044">6044广州羚锐</option>
<option value="6048">6048无锡车龙锦</option>
<option value="6052">6052张家口阳光众达</option>
<option value="6053">6053中山华铃</option>
<option value="6062">6062广西弘晖</option>
<option value="6082">6082哈尔滨龙汇</option>
<option value="6083">6083威海隆德</option>
<option value="6086">6086祥通铃木</option>
<option value="6095">6095东莞华多利</option>
<option value="6103">6103余姚东兴</option>
<option value="6113">6113石家庄广源</option>
<option value="6114">6114唐山冀东华昌</option>
<option value="6139">6139昆山豪骏</option>
<option value="6140">6140南京福佳</option>
<option value="6142">6142金华福铃</option>
<option value="6148">6148滨州汽贸</option>
<option value="6157">6157洛阳达飞</option>
<option value="6158">6158河南鼎芝源</option>
<option value="6159">6159万友高新二分公司</option>
<option value="6165">6165嘉兴中信</option>
<option value="6166">6166嘉峪东方</option>
<option value="6170">6170锦州皇宇</option>
<option value="6174">6174柳州容达</option>
<option value="6195">6195陕西致华</option>
<option value="6196">6196安康阳光</option>
<option value="6200">6200连云港东恒</option>
<option value="6202">6202阜新鑫澳</option>
<option value="6205">6205宁波荣鑫</option>
<option value="6208">6208镇江福佳</option>
<option value="6210">6210大连东洲</option>
<option value="6219">6219吉林东山</option>
<option value="6221">6221温州铃燕</option>
<option value="6222">6222枣庄世纪祥和</option>
<option value="6225">6225辽源丰达</option>
<option value="6230">6230襄阳桑奥</option>
<option value="6239">6239北方新兴(北京)</option>
<option value="6247">6247江苏龙杰</option>
<option value="6253">6253西宁华菱丰</option>
<option value="6264">6264北京祥路来</option>
<option value="6267">6267桂林福航</option>
<option value="6276">6276三门峡兴顺</option>
<option value="6291">6291长治鑫海</option>
<option value="6294">6294运城通达</option>
<option value="6305">6305南通钧贺</option>
<option value="6313">6313昆明明杰</option>
<option value="6323">6323山西友信</option>
<option value="6327">6327广州众赢</option>
<option value="6328">6328朝阳尊翔</option>
<option value="6335">6335霸州兴业亚飞</option>
<option value="6338">6338佛山路通</option>
<option value="6351">6351新兴燕都</option>
<option value="6353">6353上海联通</option>
<option value="6356">6356潍坊润德</option>
<option value="6375">6375巴彦淖尔利丰</option>
<option value="6382">6382贵州中企</option>
<option value="6391">6391江苏泰州东方铃瑞</option>
<option value="6395">6395上海铃木</option>
<option value="6397">6397北方新兴海淀分公司</option>
<option value="6399">6399阜阳恒通</option>
<option value="6400">6400新疆天汇笑好</option>
<option value="6422">6422北方新兴杏石口</option>
<option value="6423">6423陕西新日盛</option>
<option value="6427">6427哈尔滨顺达</option>
<option value="6434">6434阳泉三江</option>
<option value="6436">6436大庆盛鑫龙源</option>
<option value="6442">6442达州骏意</option>
<option value="6445">6445义乌迪通</option>
<option value="6449">6449衢州龙腾</option>
<option value="6454">6454宁夏尖峰</option>
<option value="6456">6456济南骏铃</option>
<option value="6459">6459梅州洁源泵业</option>
<option value="6464">6464淮南赤骥</option>
<option value="6465">6465林州华夏</option>
<option value="6467">6467宜宾宏信</option>
<option value="6469">6469湖州长铃</option>
<option value="6476">6476厦门文华</option>
<option value="6477">6477北方新兴（天津）</option>
<option value="6482">6482绵阳新悦成</option>
<option value="6490">6490大同博瑞丰通</option>
<option value="6502">6502九江运通</option>
<option value="F4162">F4162四平巨龙</option>
<option value="F4406">F4406内蒙古鸿铃</option>
        </select>
                <select name="sh_name" id="sh_name" lay-verify="required" lay-search="">
          <option value="">直接选择或搜索脚本</option>
<option value="syncPartsTransDB.sh">PartsTrans|订单|装箱单</option>
<option value="syncWarrantyTransDB.sh">WarrantyTrans|工单|索赔|结算</option>
<option value="syncBasicDB.sh">Basic</option>
<option value="syncBasicPartsDB.sh">BasicParts</option>
<option value="syncConfigDB.sh">Config</option>
<option value="syncConfigShowDB.sh">ConfigShow</option>
<option value="syncModuleDB.sh">Module</option>
<option value="syncRightDB.sh">Right</option>
<option value="syncTransDB.sh">Trans</option>
        </select>
   <div class="layui-form-item">
      <button type="button" class="layui-btn" onclick="sync();">立即执行</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
  </div>
  </form>
  </div></div>
<script th:src="@{/static/js/jquery.min.js}"></script>
<script th:src="@{/static/layui.js}"></script>
<script th:src="@{/static/js/global.js}"></script>

<script type="text/javascript">
layui.use(['form','layedit'], function(){
	  var form = layui.form
	  ,layer = layui.layer
	  ,layedit = layui.layedit;
	  form.render();

})
function sync(){
	
	if($("#dealer_code").val()==""||$("#dealer_code").val()==null){
		layer.msg("请选择经销商");
		return;
	}
	if($("#sh_name").val()==""||$("#sh_name").val()==null){
		layer.msg("请选择脚本");
		return;
	}
	layui.use(['common','layer'], function () {
		        var common = layui.common;
		                var layer = layui.layer;
		                var index = layer.load(2,{content:"</br></br>稍等"});

		        common.ajax('/runSH', 'post', 'text', {
		            'dealer_code': $("#dealer_code").val(),
		            'sh_name': $("#sh_name").val(),
		        }, function (res) {	
			
		      $("#console").html(res);
				  layer.close(index);     
		        });
		    });
		}
/* 鼠标点击特效 */
var a_idx = 0;
jQuery(document).ready(function($) {
    $("body").click(function(e) {
var a = new Array("富强", "民主", "文明", "和谐", "自由", "平等", "公正" ,"法治", "爱国", "敬业", "诚信", "友善");
var $i = $("<span/>").text(a[a_idx]);
        a_idx = (a_idx + 1) % a.length;
var x = e.pageX,
        y = e.pageY;
        $i.css({
"z-index": 999999999999999999999999999999999999999999999999999999999999999999999,
"top": y - 20,
"left": x,
"position": "absolute",
"font-weight": "bold",
"color": "#ff6651"
        });
        $("body").append($i);
        $i.animate({
"top": y - 180,
"opacity": 0
        },
        1500,
function() {
            $i.remove();
        });
    });
});
</script>
</body>
</html>